@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$poppins: 'Poppins', sans-serif;


// Primary colors
$white:         #ffffff;
$black:         #191919;
$bg: 	        #fffaf7;
$orange:        #ff992e;
$orange-light:  #ffb57e;
$text: 	        #343d48;
$text-gray: 	#999999;
$gray:          #212020;
$fiolet:        #152633;

// responsive
$device-xxs: 768px;
$device-xs: 857px;
$device-sm: 992px;
$device-md: 1180px;
$device-lg: 1249px;

